*{
	margin: 0;
	padding: 0;

}

.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 5px;
}
.navbar .nav-link {
  margin-left: 10px;
}
.logo{
	width: 3rem;
}

.container-fluid{
	padding: 7% 15%;
  }
  

/*code for text font and color*/
.big-text{
	color: #FF8C00;
	font-size: 50px;
}

/*code for active button first bgcolor*/
a.btn-first{
  	background-color: #FF8C00 ;
  	color: white;
	border: 2px solid #FF8C00;
	border-radius: 25px;
	width: 150px;
	float: left;
	margin: 0 20px 20px 0;
}

/*code for active button second border color*/
a.btn-second{
  	color: black;
	border:1px solid #FF8C00;
	border-radius: 25px;
	width: 150px;	

}

/*code for active button hover bgcolor*/
a.btn:hover{
	background-color: #FF8C00;
	box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
	color:white;
}


.banner-image{
	width: 100%
}
.white-section {
	background-color: #eff7e1;
  }
/* FEATURES SECTION*/

#features {
	position: relative;
  }
  
  .feature-title {
	font-size: 1.5rem;
  }
  
  .feature-box {
	padding: 4.5%;
  }
  
  .icon {
	color: #FF8C00;
	margin-bottom: 1rem;
  }

  /*FOOTER SECTION*/
.dark-color {
	background: #252525;
	color: #eee;
	text-align: center;
	
  }
  .icon-footer {
	padding-right: 5px;
	
  }
  .dark-color :hover {
	text-decoration: none;
	
  }

/*MOBILE RESPONSIVE*/
@media only screen and (max-width: 1178px) {
	body {
	  text-align: center;
	}
	*{
		text-align: center;
	}
  }
  
  
  
  
	
